/* 바디 백그라운드 날릴거 */
body {
    background-color:white;
}
    
li {
    list-style: none;
}

#hader-navbar-container {
    width: 100%;
    height: 20px;
}


/*여기서*/
.logo-container {
    text-align: center;
}

.logo-img {
    max-width: 200px;
    height: 150px;
}
/*여까지 삭제*/


#hader-navbar-container ul {
    float: right;
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

#hader-navbar-container a {
    display: block;
    text-align: center;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: yellowgreen;
}

#hader-navbar-container a:hover {
    background: yellowgreen;
    color: black;
}

.header-box {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    /* background-image: url(../layout.png); */
    padding: 1px;
    text-align: center;
}

.header-box h3 {
    margin-top: 20px;
    margin-bottom: -13px;
    margin-left: 30px;
    font-size: 40px;
    color: rgb(63, 28, 28);
}

.header-box h3:hover{
    cursor: pointer;
}

.header-box p {
    margin-left: 30px;
    font-size: 25px;
    color: rgb(65, 54, 54);
    font-family: "Times New Roman", Times, serif;
    font-weight: 400px;
}

.header-box span {
    display: inline-block;
    width: 160px;
    color: white;
    background-color: black;
    font-family: fantasy;
}  



/* 메인 박스 */
.header {
  margin-top: 30px;
  width: 50%;
  height: 100px;
  background-color: yellow;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1px;
  text-align: center;
  margin-left: 25%;
}

.alcohol-drinks {
  width: 80%;
  height: 800px;
  border: 2px solid gray;
  margin-left: 150px;
  margin-top: 50px;
  display: flex; /* flexbox 설정 추가 */
  flex-wrap: wrap; /* 내용이 넘치면 줄바꿈 */
  justify-content: space-between; /* 컨텐츠 사이의 간격을 최대화하여 나란히 배치 */
}

.imagebox1, .imagebox2, .imagebox3, .imagebox4 {
  width: 49.8%; /* 부모의 크기의 절반만 차지하도록 설정 */
  height: 398px;
  border: 1px solid gray;

}

#beer-image {
    width: 100%;
    height: 400px;
}

.footer {
  width: 100%;
  height: 200px;
  border: 2px solid black;
  margin-top: 30px;
}


/* 보드 페이지 */
.board_page, .board_page > a {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    text-decoration: none;
    color: black;
    
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

