.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-content h2 {
    margin-bottom: 10px;
  }
  
  #openPopupBtn {
    margin-top: 20px;
    cursor: pointer;
  }
  
  #closePopupBtn {
    margin-top: 20px;
    cursor: pointer;
  }