<<<<<<< HEAD
html,
body {
  background: #222;
}

li {
  list-style: none;
}

#hader-navbar-container {
  width: 100%;
  height: 20px;
}

/*여기서*/
.logo-container {
  text-align: center;
}

.logo-img {
  max-width: 200px;
  height: 150px;
}
/*여까지 삭제*/

#hader-navbar-container ul {
  float: right;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#hader-navbar-container a {
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#hader-navbar-container a:hover {
  background: yellowgreen;
  color: black;
}

.header-box {
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
  /* background-image: url(../layout.png); */
  padding: 1px;
  text-align: center;
}

.header-box h3 {
  margin-top: 20px;
  margin-bottom: -13px;
  margin-left: 30px;
  font-size: 40px;
  color: rgb(63, 28, 28);
}

.header-box h3:hover {
  cursor: pointer;
}

.header-box p {
  margin-left: 30px;
  font-size: 25px;
  color: rgb(65, 54, 54);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400px;
}

.header-box span {
  display: inline-block;
  width: 160px;
  color: white;
  background-color: black;
  font-family: fantasy;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
}

#navbar ul {
  display: flex;
  margin-left: -40px;
  width: 100%;
  height: 100%;
}

#navbar ul li {
  border-left: 1px solid rgba(5, 5, 5, 0.5);
  width: 100%;
  line-height: 50px;
  color: white;
  background-color: rgba(2, 2, 0, 0.301);
  text-align: center;
}

#navbar .menuLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  font-family: "Trebuchet MS";
}

#navbar ul :hover {
  background-color: gray;
}

li {
  list-style: none;
}

.test {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.test1 {
  width: 95%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.submitBtn {
  text-align: center;
}

.pBox {
  margin-top: 35px;
  display: flex;
}

.titleBox {
  width: 95%;
  height: 600px;
  border: 1px solid beige;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.titleBox p {
  margin-top: 5px;
  margin-left: 18px;
}

.header-box a {
  text-align: center;
  font-size: 7em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

.header-box a:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.navbar-link a {
  text-decoration: none;
  color: #fff;
}

.navbar-link a:nth-child(1) {
  font-family: Audiowide;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

.middle-header-box span {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

.middle-header-box span:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 25px #fff, 0 0 30px #ff1177,
      0 0 65px #ff1177, 0 0 70px #ff1177, 0 0 90px #ff1177, 0 0 135px #ff1177;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}
=======
body {
  background-image: url(Sign_up_background.png);
  position: relative;
}
li {
  list-style: none;
}

#hader-navbar-container {
  width: 100%;
  height: 20px;
}

/*여기서*/
.logo-container {
  text-align: center;
}

.logo-img {
  max-width: 200px;
  height: 150px;
}
/*여까지 삭제*/

#hader-navbar-container ul {
  float: right;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#hader-navbar-container a {
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: yellowgreen;
}

#hader-navbar-container a:hover {
  background: yellowgreen;
  color: black;
}

.header-box {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  /* background-image: url(../layout.png); */
  padding: 1px;
  text-align: center;
}

.header-box h3 {
  margin-top: 20px;
  margin-bottom: -13px;
  margin-left: 30px;
  font-size: 40px;
  color: rgb(63, 28, 28);
}

.header-box h3:hover {
  cursor: pointer;
}

.header-box p {
  margin-left: 30px;
  font-size: 25px;
  color: rgb(65, 54, 54);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400px;
}

.header-box span {
  display: inline-block;
  width: 160px;
  color: white;
  background-color: black;
  font-family: fantasy;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
}

#navbar ul {
  display: flex;
  margin-left: -40px;
  width: 100%;
  height: 100%;
}

#navbar ul li {
  border-left: 1px solid rgb(5, 5, 5);
  width: 100%;
  line-height: 50px;
  color: white;
  background-color: rgba(2, 2, 0, 0.705);
  text-align: center;
}

#navbar .menuLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  font-family: "Trebuchet MS";
}

#navbar ul :hover {
  background-color: gray;
  color: black;
}

li {
  list-style: none;
}

.test {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.test1 {
  width: 95%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.submitBtn {
  text-align: center;
}

.pBox {
  margin-top: 35px;
  display: flex;
}

.titleBox {
  width: 95%;
  height: 600px;
  border: 1px solid beige;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.titleBox p {
  margin-top: 5px;
  margin-left: 18px;
}
>>>>>>> f31af125c1a7b1d72ebcc74e14826c527eb1c8cf
