html,
body {
  background: #222;
}

li {
  list-style: none;
}

#hader-navbar-container {
  width: 100%;
  height: 20px;
}

#hader-navbar-container ul {
  float: right;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#hader-navbar-container a {
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#hader-navbar-container a:hover {
  background: yellowgreen;
  color: black;
}

.header-box {
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
  /* background-image: url(../layout.png); */
  padding: 1px;
  text-align: center;
}

.header-box h3 {
  margin-top: 20px;
  margin-bottom: -13px;
  margin-left: 30px;
  font-size: 40px;
  color: white;
  background-color: black;
}

.header-box h3:hover {
  cursor: pointer;
}

.header-box p {
  margin-left: 30px;
  font-size: 25px;
  color: rgb(65, 54, 54);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400px;
}

.header-box span {
  display: inline-block;
  width: 160px;
  color: white;
  background-color: black;
  font-family: fantasy;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
}

#navbar ul {
  display: flex;
  margin-left: -40px;
  width: 100%;
  height: 100%;
}

#navbar ul li {
  border-left: 1px solid rgba(5, 5, 5, 0.5);
  width: 100%;
  line-height: 50px;
  color: white;
  background-color: rgba(2, 2, 0, 0.301);
  text-align: center;
}

#navbar .menuLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  font-family: "Trebuchet MS";
}

#navbar ul :hover {
  background-color: gray;
}

li {
  list-style: none;
}

.commentDate {
  display: none;
}

#comment-edit {
  display: none;
}

.btnBox {
  text-align: center;
}

.test3 {
  display: inline-block;
}

.dayRight {
  float: right;
}

#commentFont {
  font-size: 15px;
  color: white;
}

#commentFont2 {
  margin-left: 35rem;
  font-size: 20px;
}

#commentFont3 {
  color: white;
  margin-left: -35rem;
  font-size: 18px;
}

#header-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 1px;
  border-top: 1px solid white;
  color: white;
  background-color: #222;
}

#header-container h4 {
  font-size: 20px;
  margin-top: 25px;
}

#body-containter {
  width: 100%;
  height: 300px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
}

#body-containter h4 {
  display: block;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 22px;
}

.header-box a {
  text-align: center;
  font-size: 7em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

.header-box a:nth-child(1) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.navbar-link a {
  text-decoration: none;
  color: #fff;
}

.navbar-link a:nth-child(1) {
  font-family: Audiowide;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

.list-group-item {
  background-color: #222;
}

.list-group-item a {
  text-decoration: none;
  color: #fff;
}
.list-group-item a:nth-child(1) {
  font-family: Audiowide;
  animation: neon1 1.5s ease-in-out infinite alternate;
}



.buttons {
  margin: 10%;
  text-align: center;
  margin-top: -50px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.table {
  margin-top: -50px;
}

.boxBox {
  margin-top: -55px;
}

@keyframes animation1 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes animation2 {
  0% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  25% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }
  50% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  75% {
    margin-left: 0;
  }
  95% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
@keyframes animation3 {
  0% {
    margin-left: -200%;
  }
  20% {
    margin-left: -200%;
  }
  25% {
    margin-left: -300%;
  }
  45% {
    margin-left: -300%;
  }
  50% {
    margin-left: 0;
  }
  70% {
    margin-left: 0;
  }
  75% {
    margin-left: -100%;
  }
  95% {
    margin-left: -100%;
  }
  100% {
    margin-left: -200%;
  }
}
@keyframes animation4 {
  0% {
    margin-left: -300%;
  }
  20% {
    margin-left: -300%;
  }
  25% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes flicker1 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 42px #f0a, 0 0 60px #f0a, 0 0 100px #f0a;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #0fa, 0 0 60px #0fa, 0 0 100px #0fa;
  }
  20%,
  25%,
  58%,
  55% {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 20px #0fa, 0 0 25px #0fa, 0 0 40px #0fa;
  }
}

#neon-green {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 70px #0fa;
  animation: flicker2 1.5s infinite alternate;
}


#neon-pink {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #f0a, 0 0 60px #f0a, 0 0 100px #f0a;
  animation: flicker1 1.5s infinite alternate;
}