body {
  background-image: url(Sign_up_background.png);
  position: relative;
}
li {
  list-style: none;
}

#hader-navbar-container {
  width: 100%;
  height: 20px;
}

/*여기서*/
.logo-container {
  text-align: center;
}

.logo-img {
  max-width: 200px;
  height: 150px;
}
/*여까지 삭제*/

#hader-navbar-container ul {
  float: right;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#hader-navbar-container a {
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: yellowgreen;
}

#hader-navbar-container a:hover {
  background: yellowgreen;
  color: black;
}

.header-box {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  /* background-image: url(../layout.png); */
  padding: 1px;
  text-align: center;
}

.header-box h3 {
  margin-top: 20px;
  margin-bottom: -13px;
  margin-left: 30px;
  font-size: 40px;
  color: rgb(63, 28, 28);
}

.header-box h3:hover {
  cursor: pointer;
}

.header-box p {
  margin-left: 30px;
  font-size: 25px;
  color: rgb(65, 54, 54);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400px;
}

.header-box span {
  display: inline-block;
  width: 160px;
  color: white;
  background-color: black;
  font-family: fantasy;
}

form {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

form > div {
  color: #fa2222;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
  padding-bottom: 15px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: black;
}

input:hover {
  background-color: lightgray;
}

.in {
  margin-bottom: 15px;
  background-color: white;
  text-decoration-line: underline;
}

a {
  text-align: center;
  text-decoration: none;
  color: red;
}

a:hover {
  color: coral;
}

#btn {
  background-color: lightcoral;
}
#btn:hover {
  background-color: coral;
}
