#hader-navbar-container {
    width: 100%;
    height: 20px;
  }
  
  #hader-navbar-container ul {
    float: right;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  #hader-navbar-container a {
    display: block;
    text-align: center;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  #hader-navbar-container a:hover {
    background: yellowgreen;
  }
  
  .header-box {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    /* background-image: url(../layout.png); */
    padding: 1px;
    text-align: center;
  }
  
  .header-box h3 {
    margin-top: 20px;
    margin-bottom: -13px;
    margin-left: 30px;
    font-size: 40px;
    color: rgb(63, 28, 28);
  }
  
  .header-box p {
    margin-left: 30px;
    font-size: 25px;
    color: rgb(65, 54, 54);
    font-family: "Times New Roman", Times, serif;
    font-weight: 400px;
  }
  
  .header-box span {
    display: inline-block;
    width: 160px;
    color: white;
    background-color: black;
    font-family: fantasy;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
  }
  
  #navbar ul {
    display: flex;
    list-style: none;
    margin-left: -40px;
    width: 100%;
    height: 80%;
  }
  
  #navbar ul li {
    border-left: 1px solid rgb(5, 5, 5);
    width: 100%;
    line-height: 40px;
    color: white;
    background-color: rgba(2, 2, 0, 0.705);
    text-align: center;
  }
  
  #navbar .menuLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS";
  }
  
  #navbar ul :hover {
    background-color: gray;
    color: black;
  }
  
  #middle-item-container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middle-item-box {
    height: 600px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middle-item-img {
    width: 45%;
    height: 500px;
    background-color: azure;
    background-image: url(../css/test1.gif);
    background-size: cover;
    border-radius: 40px;
    margin: 25px;
  }
  
  .middle-item-coment {
    width: 65%;
    height: 500px;
    text-align: left;
    margin: 25px;
  }
  
  .middle-item-coment h3 {
    text-align: center;
  }
  
  .middle-item-coment span {
    font-size: 17px;
    margin: 15px;
  }
  
  .bottom-item-container {
    width: 100%;
    height: 100px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
  }