<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/sign_up.css" />
  </head>
  <body style="margin: 0px">
    <div id="hader-navbar-container">
      <ul>
        <li><a href="login.html">로그인</a></li>
        <li><a href="sing-up.html">회원가입</a></li>
        <li><a href="user-info.html">내 정보</a></li>
      </ul>
    </div>
    <div class="header-box">
      <div class="logo-container">
        <img src="css/test1.gif" alt="로고" class="logo-img" />
        <!--logo-container div삭제-->
      </div>
      <h3 onclick="window.location.href='main6.html'">
        <span>ALCOHOL</span> FREE
      </h3>
      <p>FREE</p>
    </div>

    <div>
        <input
          type="email"
          name="email"
          id="UserEmail"
          placeholder="이메일을 입력해주세요"
        />
        <button id="mail">확인</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="/public/js/signup.js"></script>
  </body>
</html>
