<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="google-site-verification"
      content="Z3PeThVQhAENmw1NBod3TPejCv-Ck8XQWNeNaCBX1KQ"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/login" method="POST">
        <input type="text" placeholder="아이디" class="in" name="id" />
        <input type="password" placeholder="비밀번호" class="in" name="pw" />
        <button type="submit" id="btn" value="로그인">로그인</button>
        <br />
        <a href="#">비밀번호 잊음</a>
      </form>
    </div>
  </body>
</html>
