<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>main</title>
  </head>
  <body style="margin: 0px">
    <div class="header-box">
      <h3><span>ALCOHOL</span> FREE</h3>
      <button class="btn"><a href="login.html">Login</a></button>
      <p>시발</p>
    </div>
    <hr />
    <nav id="navbar">
      <ul>
        <li><a class="menuLink" href="#">메뉴1</a></li>
        <li><a class="menuLink" href="#">메뉴2</a></li>
        <li><a class="menuLink" href="#">메뉴3</a></li>
        <li><a class="menuLink" href="#">메뉴4</a></li>
      </ul>
    </nav>
    <hr />
    <!-- <div class="middle-menu">
    </div> -->

    <div class="banner-container">
      <div class="banner">
        <div data-index="1"></div>
        <div data-index="2"></div>
        <div data-index="3"></div>
        <div data-index="4"></div>
      </div>
    </div>

    <div id="middle-banner-container">
      <div class="middle-item-img-a">
        <figure><a href="www.google.com"><img src="test.jpg" /></a></figure>
      </div>    
      <div class="middle-item-img-a">
        <figure><a href="www.google.com"><img src="test2.jpg" /></a></figure>
      </div>
      <div class="middle-item-img-a">
        <figure><a href="www.google.com"><img src="test3.jpg" /></a></figure>
      </div>
    </div>
  </body>
</html>
