<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta
      name="google-site-verification"
      content="Z3PeThVQhAENmw1NBod3TPejCv-Ck8XQWNeNaCBX1KQ"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body style="margin: 0px">
    <div id="hader-navbar-container">
      <ul>
        <% if (!usercookie.user){ %>
        <li><a href="/">home</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/signup">회원가입</a></li>
        <% } else { %>
        <li><a href="/">home</a></li>
        <li><a href="/mypage">내 정보</a></li>
        <li><a href="/logout" id="delete">로그아웃</a></li>
        <% } %>
      </ul>
    </div>
    <div class="header-box">
      <h3><span>ALCOHOL</span> FREE</h3>
      <p>test</p>
    </div>
    <hr />
    <nav id="navbar">
      <ul>
        <li><a class="menuLink" href="/page/1">게시판</a></li>
        <li><a class="menuLink" href="#">메뉴2</a></li>
        <li><a class="menuLink" href="#">메뉴3</a></li>
        <li><a class="menuLink" href="#">메뉴4</a></li>
      </ul>
    </nav>
    <hr />
    <!-- <div class="middle-menu">
    </div> -->
    <div class="banner-container">
      <div class="banner">
        <div data-index="1"></div>
        <div data-index="2"></div>
        <div data-index="3"></div>
        <div data-index="4"></div>
      </div>
    </div>

    <div id="middle-banner-container">
      <div class="middle-item-img-a">
        <figure>
          <a href="www.google.com"><img src="test.jpg" /></a>
        </figure>
      </div>
      <div class="middle-item-img-a">
        <figure>
          <a href="www.google.com"><img src="test2.jpg" /></a>
        </figure>
      </div>
      <div class="middle-item-img-a">
        <figure>
          <a href="www.google.com"><img src="test3.jpg" /></a>
        </figure>
      </div>
    </div>

    <script src="../public/js/main.js"></script>
  </body>
</html>
