<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/CSS" href="./style/myList.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>testPage</h1>
    <div class="postList-container">
      <div class="postList-header">
        <p>내가 작성 한 글 : <%= comment.length%><br></p>
      </div>
      <ul>
        <% for (var i = 0; i < comment.length; i++){ %>
        <div class="postList">
          <li>
            <span> <%= i + 1 %> .   </span>
            <a href="/detail/<%= comment[i].id%>"><%= comment[i].작성내용 %></a>
          </li>
        </div>
        <% } %>

        <a href="https://en.wikipedia.org/wiki/Red">
             RED
         </a>
  </body>
</html>
