<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/mypage.css" />
  </head>
  <body>
    <h1>마이페이지</h1>
    <hr />

    <h3>id : <%= consumer.id %></h3>

    <div class="myborder"><h3>id : <%= consumer.id %></h3></div>
    <button id="fix">개인정보 수정</button>
    <button id>내가 작성한 글</button>
  </body>

  <script>
    document.getElementById("fix").addEventListener("click", (e) => {
      alert("아직 구현하지 않은 기능");
    });
  </script>
</html>
